MONGODB_URI=mongodb+srv://USUARI:CONTRASENYA@cluster0.XXXXX.mongodb.net/?retryWrites=true&w=majority

DB_NAME=iot_lightcar

# Raspberry Pi Flask API URL (used by FastAPI microservice to control the LED)
RASPI_API_URL=http://raspberrypi.local:5000
